asgiref==3.11.0
click==8.3.1
dj-database-url==3.1.0
Django==6.0
joblib==1.5.3
nltk==3.9.2
numpy==2.4.0
pandas==2.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
regex==2025.11.3
scikit-learn==1.8.0
scipy==1.16.3
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.3
whitenoise==6.11.0
gunicorn
